body{
/* background-image:linear-gradient(to bottom right,#ABECD6,#FBED96) ; */
/* background: linear-gradient(to bottom right,#0D61EC,#DE0F82); */
/* background-image:linear-gradient(to bottom right,#007ADF,#00ECBC) ; */

background: linear-gradient(to bottom right,#83a4d4,
#b6fbff);
background-size: 100vw 100vh;
background-attachment: fixed;
background-repeat: no-repeat;
margin: 0;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-size: 25px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    border: 2px solid black;

}
.box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    /* width:100vw; */
    border: 2px solid black;
    margin-top: 30px;
    width: 80%;
    margin-left: 150px;

}

@media screen and ( max-width:1158px){
    .box{
        margin-left: 40px;
        width: 90%;

    }
}




.outercard1{
    background-color: transparent;
    width: 600px;
    height: 250px;
    perspective: 1000px;
}

.card1{
   position: relative;
   width: 100%;
   height: 100%;
   transition: transform 0.6s;
   transform-style: preserve-3d;

}



.outercard1:hover .card1 {
    transform: rotateY(180deg);
}

.front1,.back1{
   
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    align-items: center;
    text-align: center;
}




.front1{
    background-color: #e5e4e2;
    color:black;
    padding: 10px;
}


.back1{
    background-color:#e5e4e2;
    color:black;
    padding: 10px;
    transform: rotateY(180deg);

}
.car1{
    border: 5px solid white;
}
li{
    list-style: none;
}

@media screen and ( max-width:650px){
    body{
        width: 100%;
    }
    .box{
       flex-direction: column;
      
       margin-left: 10px;
       

    }
    .card1{
        display:none;
    }
} 

@media screen and ( max-width:883px){
    .front1,.back1{
       overflow:hidden;
        padding: 1px;
        font-size: 16px;
    }
    .li{
        padding: 0px;
    }
    .point1,.point2,.point3{
        display: none;
    }
   
}